<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - PhotoGallery</title>
    <meta name="description" content="Showing the photo album @ViewData["Title"]" />
    <meta name="keywords" content="@ViewData["Title"], photo, picture, gallery, images" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/img/favicon.png" type="image/png" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("styles", required: false)
</head>
<body>

    <header>
        <div class="container">
            <h1><a href="~/">Photo Gallery</a></h1>
        </div>
    </header>

    <main class="container">
        @RenderBody()
    </main>

    <footer>
        <p class="container">
            Powered by ASP.NET Core 2.0
            @{
                if (User.Identity.IsAuthenticated)
                {
                    <a href="~/login?logout=1">Sign out</a>
                }
                else
                {
                    <a asp-page="Login">Sign in</a>
                }
            }
        </p>
    </footer>

    <script src="~/js/lazyload.js" asp-append-version="true" async></script>
    @RenderSection("scripts", required: false)
</body>
</html>
