@page
@inject AlbumCollection ac
@{
    ViewData["Title"] = "Albums";
    ViewData["Description"] = $"My photo gallery with {ac.Albums.Count} albums";
}

<form id="admin" if-authorized method="post" action="~/album/new/create/">
    <input type="text" name="name" id="name" aria-label="Album name" placeholder="Album name" required />
    <input type="submit" id="newalbum" data-progress="Creating..." value="New album">
</form>

@if (ac.Albums.Count == 0)
{
    <p>There are no albums yet. <a asp-page="Login">Sign in</a> to create new albums and upload photos.</p>
}

<section class="albumlist">
    @{
        foreach (Album album in ac.Albums)
        {
            var photo = album.CoverPhoto;
            if (photo != null)
            {
                <a href="/album/@album.UrlName/">
                    <figure>
                        <img photo="@photo" type="Cover" />
                        <figcaption>@album.Name (@album.Photos.Count)</figcaption>
                    </figure>
                </a>
            }
            else
            {
                <a href="/album/@album.Name/">
                    <figure>
                        <img src="~/img/_.gif" alt="Empty album" />
                        <figcaption itemprop="name">@album.Name (@album.Photos.Count)</figcaption>
                    </figure>
                </a>
            }
        }
    }
</section>

@section scripts {
    <script if-authorized src="~/js/admin.js" asp-append-version="true" async></script>
}

@section styles {
    <link if-authorized rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
}
