@page "{albumName}/{photoName}/{handler?}"
@model PhotoModel
@{
    var albumName = Model.Photo.Album.Name;
    var photoName = Model.Photo.DisplayName;
}

<div id="admin" if-authorized>
    <form method="post">
        <input type="text" name="name" aria-label="Name" required value="@Model.Photo.DisplayName" />
        <input type="submit" vale="Change name" asp-page-handler="rename" data-progress="Renaming..." value="Rename photo" />
    </form>

    <form method="post" class="delete">
        <input type="submit" id="deletephoto" asp-page-handler="delete" aria-label="Delete photo..." title="Delete photo..." value="🗙" />
    </form>
</div>

<div id="title">
    <h2>@Model.Photo.DisplayName</h2>
    <span>in <a href="/albums/@Model.Photo.Album.UrlName">@Model.Photo.Album.Name</a></span>
</div>

<figure class="photo" itemscope itemtype="http://schema.org/CreativeWork">
    <img photo="@Model.Photo" type="Full" itemprop="image" />
    <figcaption itemprop="name">@Model.Photo.DisplayName</figcaption>
</figure>

<a href="@Model.Photo.DownloadLink">Download original</a>

@section scripts{
    <script if-authorized src="~/js/admin.js" asp-append-version="true" async></script>
}

@section styles {
    <link if-authorized rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
}